/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "groundHeavy";
  src: url("./fonts/Goudy\ Heavyface\ Std\ Regular.otf");
}
@font-face {
  font-family: "Fira_Sans_Condensed";
  src: url("./fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira_Sans_Condensed";
  src: url("./fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira_Sans_Condensed";
  src: url("./fonts/Fira_Sans_Condensed/FiraSansCondensed-Italics.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fira_Sans_Condensed";
  src: url("./fonts/Fira_Sans_Condensed/FiraSansCondensed-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
